@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');



html { 
    font-size: 10px; 
    
   } 
    

body {
    background-color: #252526;
    font-family: "Poppins", sans-serif;
}

h2 {
    color: #252526;
    font-size: 20px;
}

.more-btn {
    background-color: #57bd84; /* Green */
    border: none;
    color: white;
     padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 10px;
  }

.card-container {
    width: 80%;
    margin: 0 auto;
    margin-top: 20px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 0.5fr));
    grid-gap: 30px;
    box-sizing: border-box;
}

.card {
    padding: 10px 20px;
    background-color: aliceblue;
    display: flex;
    float: left;
    justify-content: space-evenly;
   
}

.card-col {
   padding: 0 20px;
}

.card img {
    width: 100%;
    height: 200px;
}